/* Common styles */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
}


h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

h2 {
    font-size: 35px;
    margin-bottom: 10px;
}

h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

p {
    color: darkgray;
}

p small {
    font-size: 16px;
}

.mx-auto {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}

.d-flex {
    display: flex;
}

.buttons {
    margin-top: 40px;
}

.button {
    border: none;
    border-radius: 25px;
    margin: 0 5px;
    padding: 17px 35px;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.iOS-button {
    background-color: hsl(171, 66%, 44%);
    box-shadow: hsl(171, 66%, 44%) 0px 18px 30px -15px;
}

.iOS-button:hover {
    background-color: hsla(171, 66%, 44%, 0.801);
}

.mac-button {
    background-color: hsl(233, 100%, 69%);
    box-shadow: hsl(233, 100%, 69%) 0px 18px 30px -15px;
}

.mac-button:hover {
    background-color: hsla(233, 100%, 69%, 0.801);
}

.text-box {
    width: 53%;
    margin: 0 auto 90px;
}

.container {
    width: 1400px;
}

/* Hero styles */
.hero {
    background-image: url('../images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin-bottom: 120px;
    padding-top: 130px;
}

.hero-logo {
    margin: 30px 0;
}

.hero-text-box {
    width: 45%;
}

/* Main styles */
/* Features styles */
.features {
    align-items: center;
    margin-bottom: 120px;
}

.feature-left {
    width: 60%;
}

.feature-left img {
    position: relative;
    left: -180px;
}

.feature-right {
    width: 25%;
    transform: translateX(-50px);
}

.feature-right div {
    margin-bottom: 75px;
}

/* Clipboard style */
.clipboard {
    margin-bottom: 80px;
}

/* Workflow styles */
.workflow {
    margin-bottom: 150px;
}

.cards {
    justify-content: space-evenly;
    width: 90%;
}

.card1, .card2, .card3 {
    width: 25%;
}

.card1 img, .card2 img, .card3 img {
    margin-bottom: 28px;
}

.card1 {
    margin-top: -8px;
}

/* Clients part styles */
.client-logo {
    width: 90%;
    margin: 0 auto 150px;
}

.client-logo img {
    margin: 0 40px;
    display: inline-block;
}

/* Footer section styles */
.footer {
    margin-top: 140px;
    padding: 35px;
    background-color: rgba(211, 211, 211, 0.541);
}

.footer-nav {
    justify-content: space-evenly;
    align-items: center;
}

.footer-logo {
    width: 50px;
    height: 50px;
}

.footer-ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 50px;
    transform: translateX(-50px);
}

.footer-ul li {
    list-style: none;
}

.footer-ul li a {
    text-decoration: none;
    color: gray;
}

.footer-ul li a:hover {
    color: hsl(171, 66%, 44%);
}

.social-media li {
    list-style: none;
    margin: 0 15px;
}

.fab {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.589);
}

.fab:hover {
    color: hsl(171, 66%, 44%);
}

/* Media query */

/* Mobile device */
@media screen and (max-width: 688px) {
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 30px;
    }

    .container {
        width: 100%;
    }

    .text-box {
        width: 90%;
    }
    
    .hero {
        background-image: url('../images/bg-header-mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    .hero-text-box {
        width: 90%;
    }

    .button {
        margin: 10px 0;
        width: 80%;
    }

    .features {
        flex-direction: column;
        text-align: center;
    }

    .feature-left {
        width: 90%;
        margin-bottom: 50px;
    }

    .feature-left img {
        left: 0;
    }

    .feature-right {
        width: 90%;
        margin: 0;
        transform: translateX(0);
    }

    .feature-right div {
        margin-bottom: 50px;
    }

    .clipboard img {
        width: 90%;
    }

    .workflow {
        margin-bottom: 100px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card1, .card2, .card3 {
        width: 90%;
        margin: 30px 0;
    }

    .client-logo img {
        display: block;
        margin: 0 auto 90px;
    }

    .footer {
        text-align: center;
        padding: 50px;
    }

    .footer-nav {
        flex-direction: column;
    }

    .footer-ul {
        grid-template-columns: 1fr;
        margin: 50px 0;
        padding: 0;
        transform: translateX(0);
    }

    .social-media {
        padding: 0;
    }
}

/* Tablet device */
@media screen and (min-width: 689px) and (max-width: 1200px) {
    .container {
        width: 100%;
    }

     .text-box {
        width: 70%;
    }

    .hero-text-box {
        width: 70%;
    }

    .features {
        flex-direction: column;
        text-align: center;
    }

    .feature-left {
        width: 80%;
        margin: 0 auto 50px;
    }

    .feature-left img {
        width: 90%;
        left: 0;
    }

    .feature-right {
        width: 90%;
        margin: 0 auto;
        transform: translateX(0);
    }

    .feature-right div {
        margin-bottom: 50px;
    }

    .clipboard img {
        width: 80%;
    }

    .client-logo img {
        margin: 15px;
    }

    .footer-ul {
        grid-template-columns: 1fr;
        transform: translateX(0);
    }

    .social-media {
        padding: 0;
    }
}

/* Small laptop */
@media screen and (min-width: 1201px) and (max-width: 1420px) {
    .container {
        width: 100%;
    }

    .client-logo img {
        margin: 20px;
    }
}